<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <meta charset="UTF-8">
            <title>Veterinaria Huellitas</title>

            <link href="layout/plantilla.html">
                </head>
                <body>
                    <header th:replace="~{layout/plantilla :: header22}"/>

                    <div id=img_prin>
                        <br/>
                        <h1>Perfil de nuestro medico Veterinario</h1>
                        <table>
                            <tr>
                                
                                   
                                 
                                <td>
                                    <h2>Nombre de la veterinaria</h2>
                                    <p>Descripción de la veterinaria y lo que hace en su profesión. Por ejemplo:</p>
                                    <ul>
                                        <li>Realizo consultas médicas para todo tipo de mascotas, desde perros y gatos hasta animales exóticos.</li>
                                        <li>Realizo cirugías y procedimientos quirúrgicos en caso de ser necesarios.</li>
                                        <li>Brindo atención personalizada y cuidados de calidad a cada mascota que llega a mi consulta.</li>
                                        <li>Me especializo en el diagnóstico y tratamiento de enfermedades en animales, y mantengo mi formación continua para estar al día en las últimas técnicas y tratamientos.</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <br>
                            <h2 style="color: red; font-family: Arial, sans-serif;">Nuestra Ubicación</h2>
                            <p style="color: purple; font-family: Verdana, sans-serif;">
                                Estamos ubicados en el siguiente lugar:
                            </p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.7856955838943!2d-103.39622128548584!3d20.700510786159034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428a2baff7a054f%3A0x3c769dbbbd7d9c8d!2sVeterinaria%20XYZ!5e0!3m2!1sen!2smx!4v1647433050768!5m2!1sen!2smx" 
                                    width="300" 
                                    height="450" 
                                    style="border:0;" 
                                    allowfullscreen="" 
                                    loading="lazy">
                            </iframe>
                            <br/>
                            <br/>
                            <br/>
                            <iframe width="400"
                                    height="315"
                                    src="https://www.youtube.com/embed/5qkuZYseay4"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write;
                                    encrypted-media; gyroscope; picture-in-picture;
                                    web-share"
                                    allowfullscreen>
                            </iframe>

                    </div>
                    <footer th:replace="~{layout/plantilla :: footer22}"/>
                </body>
                </html>